{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block page %}
<nav class="purple">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo center">Home</a>
    <div class="nav-wrapper">
        <ul id="nav-mobile" class="left">
          <li><a href="/">Welcome</a></li>
          <li><a href="/home">Home</a></li>
            <li><a href="/users">Users Jinja</a></li>
            <li><a href="/static/users">Users JS</a></li>
            <li style="margin-left: 800px;">
              <form class="col s12" method="POST" action="/home/logout"> 
              <button class="purple" style="border: 0; color: white;"  type="submit" name="logout">Logout</button>
              </form>
            </li>
        </ul>
    </div>
  </div>
</nav>
{% endblock %}


{% block content %}


    <div class="row">
        <p>
            Welcome {{admin}}.
        </p>
    </div>

    <div class="row">
      <form class="col s12" method="POST" action="/home">
        
        <!-- <div class="row"> -->
          <div class="input-field col s6">
            <input name="name" type="text" class="validate">
            <label for="Name">Name</label>
          </div>
          <div class="input-field col s6">
            <input name="desc" type="text" class="validate">
            <label for="Description">Description</label>
          </div>
          <div class="input-field col s6">
            <input name="location" type="text" class="validate">
            <label for="Location">Location</label>
          </div>
          <div class="input-field col s6">
            <input placeholder="format year, month, day, hour" name="date_time" type="text" class="validate">
            <label for="Date and Time">Date and Time</label>
          </div>
          <div class="input-field col s6">
            <input name="openspots" type="text" class="validate">
            <label for="Open Spots">Open Spots</label>
          </div>
          
        <!-- </div> -->
      
        <div class="row">
          <div class="input-field col s12">
            <button class="btn waves-effect waves-light right purple" type="submit" name="action">Submit</button>
          </div>
        </div> 

      </form>
    </div>

    <div class="row">
      <table>
        <thead>
          <tr>
            <th>Name</th><th>Description</th><th>Location</th><th>Date and Time</th><th>Availability</th>
          </tr>
        </thead>
        <tbody>
          {% for internship in internships %}
            <tr>
                <td>{{internship.name}}</td>
                <td>{{internship.desc}}</td>
                <td>{{internship.location}}</td>
                <td>{{internship.date_time}}</td>
                <td>{{internship.openspots}}</td>
            </tr>
          {% endfor %}
        <tbody>
      </table>

  </div>

{% endblock %}
