{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block page %}
Home Page
{% endblock %}


{{ super() }}

{% block content %}
<div class="input-field col s12" style="display: inline-flex; float: right;">
  <form class="col s12" method="POST" action="/home/logout">
  <button class="btn waves-effect waves-light right black" type="submit" name="logout">Logout</button>
  </form>
</div>

    <div class="row">
        <p>
            Welcome {{admin}}.
        </p>
    </div>

    <div class="row">
      <form class="col s12" method="POST" action="/home">
        
        <!-- <div class="row"> -->
          <div class="input-field col s6">
            <input name="name" type="text" class="validate">
            <label for="Name">Name</label>
          </div>
          <div class="input-field col s6">
            <input name="desc" type="text" class="validate">
            <label for="Description">Description</label>
          </div>
          <div class="input-field col s6">
            <input name="location" type="text" class="validate">
            <label for="Location">Location</label>
          </div>
          <div class="input-field col s6">
            <input placeholder="format year, month, day, hour" name="date_time" type="text" class="validate">
            <label for="Date and Time">Date and Time</label>
          </div>
          <div class="input-field col s6">
            <input name="open_spots" type="text" class="validate">
            <label for="Open Spots">Open Spots</label>
          </div>
          
        <!-- </div> -->
      
        <div class="row">
          <div class="input-field col s12">
            <button class="btn waves-effect waves-light right purple" type="submit" name="action">Submit</button>
          </div>
        </div> 

      </form>
    </div>

    <div class="row">
      <table>
        <thead>
          <tr>
            <th>Name</th><th>Description</th><th>Location</th><th>Date and Time</th>
          </tr>
        </thead>
        <tbody>
          {% for internship in internships %}
            <tr>
                <td>{{internship.name}}</td>
                <td>{{internship.desc}}</td>
                <td>{{internship.location}}</td>
                <td>{{internship.datetime}}</td>
            </tr>
          {% endfor %}
        <tbody>
      </table>
    </div>

{% endblock %}
