{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block page %}Home{% endblock %}

{% block link%}
<ul id="nav-mobile" class="right">
    <li><a href="/logout">Logout</a></li>
</ul>
{% endblock %}


{% block content %}

<div class="row" style="background-color: rgba(0, 0, 255, 0.614)">
    <div class="col m2 list-container collection" style="max-height: 84vh;">

        <!-- edit to show all pokemon links but have only the selected pokemon as active -->
        <div class="list-item" style="background-color: rgba(255, 0, 0, 0.683)">   
            {% for Pokemon in pokemon %}
              {% if selected_pokemon.name in Pokemon.name%}
                 <a style="background-color: rgba(0, 0, 255, 0.614)" href = "/app/{{Pokemon.id}}" id = "poke-{{Pokemon.id}}" class="collection-item active">{{Pokemon.name}}</a>
              {% else %}
                <a style = "background-color:rgba(255, 0, 0, 0.683)"href="/app/{{Pokemon.id}}" id="poke-{{Pokemon.id}}" class="collection-item" >{{Pokemon.name}}</a> 
              {% endif %}
            {% endfor %}
        </div>
    
    </div>
    
    <div class="col m3">

        <p class="text-center">Selected Pokemon</p>

        <div class="card" style="background-color: rgba(255, 0, 0, 0.683)">
            <!-- Selected Pokemon Content Here -->
           <img src="https://test.ishmaeljup.repl.co/{{selected_pokemon.id}}.jpg"/>
           <span class="card-title">{{selected_pokemon.name}}</span>
           <p> name: {{selected_pokemon.name}} </p>
           <p> description: {{selected_pokemon.description}} </p>
           <p> location: {{selected_pokemon.location}} </p>
           <p> stipend: {{selected_pokemon.stipend}} </p>
           <p> datetime: {{selected_pokemon.datetime}} </p>
           <p> runtime: {{selected_pokemon.runtime}} </p>
           <p> openspots: {{selected_pokemon.openspots}} </p>
           <p> enrolled: {{selected_pokemon.enrolled}} </p>

           <form omsubmit="capture_pokemon({{selected_pokemon.id}})" name="captureForm" id="captureForm" class="card" >
            <input id = "captureBtn" value= "Add intern" class="btn #588157 center" type="button" type="submit" onclick="capture_pokemon({{selected_pokemon.id}})"/>
            <input name="pokemon_name" id="pokemon_name" type="text"/>
           </form>
             
           <form>
            <input id = "captureBtn" value= "View interns" class="btn #588157 center" type="button" type="submit" onclick="location.href='https://www.google.com/forms/about/'"/>
            </form>
         
        </div>

    </div>
      
    <div class="col m7">
        <p class="text-center">Your Pokemon</p>
        <table>
            <!-- Captured pokemon content here -->
            <tr>
                <th>Pokemon</th>
                <th>Name</th>
                <th>Actions</th>
              </tr>
              <tbody>
              {% for Pokemon in UserPokemons %}
              <tr>
                <td>{{Pokemon.pokemon.name}}</td>
                <td>{{Pokemon.name}}</td>
                <td> <input name="{{Pokemon.name}}-new_name" id="{{Pokemon.name}}-new_name" type="text"/> <input id = "rename-{{Pokemon.name}}" class="btn #588157 left" value= "Edit" type="button" type="submit" onclick="rename({{Pokemon.id}},'{{Pokemon.name}}')"/></td>
                <td> <input id = "release-{{Pokemon.name}}" value= "Delete" class="btn #588157 right" type="button" type="submit" onclick="release({{Pokemon.id}})"/></td>
              </tr>
             {% endfor %}
              </tbody>
        </table>
    </div>

</div>


<script>
    var pokeElem = document.getElementById('poke-{{selected_pokemon.id}}');// edit to scroll to selected pokemon
    pokeElem.scrollIntoView();
</script>

<script>
const capture_pokemon =  async (id) => {
    console.log("hi");
    var url = `/pokemon/${id}`
    var name = document.getElementById("pokemon_name").value
    console.log(name)
    try{
        console.log(url)
     await fetch(url,{
            method:"POST",
            body: JSON.stringify({name}),
            headers: {
      "Content-Type": "application/json",
    },
        })
    }
 catch(e){
    console.log(e)
 }    
 location.reload();  
}

const rename = async  (id,new_name)=> {
var url = `/rename-pokemon/${id}`
var name = document.getElementById(`${new_name}-new_name`).value
try{
    console.log(url)
   await fetch(url,{
        method:"POST",
        body: JSON.stringify({name}),
        headers: {
  "Content-Type": "application/json",
},
    })
}
catch(e){
console.log(e)
}    
location.reload();  
}
   
const release = async (id) => {
var url = `/release-pokemon/${id}`
console.log(name)
try{
    await fetch(url,{
        method:"GET",
        headers: {
          "Content-Type": "application/json",
         },        
    })
}
catch(e){
console.log(e)
}    
location.reload();  
}
</script>

{% endblock %}
