{% extends "layout.html" %}
{% block title %}App Users{% endblock %}
{% block page %}App Users{% endblock %}

{{ super() }}

{% block content %}
    <div class="row">
      <p style="font-size: larger;">
          This page displays all Users and Interns. You can create new accounts right below here.
      </p>
    </div>

    <div class="row">
      <form class="col s12" method="POST" action="/users">
        
        <div class="row" >
          <div class="input-field col s4">
            <input placeholder="Username" name="username" type="text" class="validate">
            <label for="username">Username</label>
          </div>

          <div class="input-field col s4">
            <input placeholder="Password" name="password" type="password" class="validate">
            <label for="password">Password</label>
          </div>

          <div class="input-field col s4">
            <input placeholder="Name" name="name" type="text" class="validate">
            <label for="name">Name</label>
          </div>

        </div>
      </div>
      
        <div class="row">
          <div class="input-field col s12">
            <button class="btn waves-effect waves-light right purple" type="submit" name="action">Submit</button>
          </div>
        </div> 

      </form>
    </div>

    <div class="row" style="margin-left: 100px; margin-right: 100px; padding: 25;">
      <table>
        <thead>
          <tr>
            <th>Id</th><th>Username</th><th>Name</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.username}}</td>
                <td>{{user.name}}</td>
            </tr>
          {% endfor %}
        <tbody>
      </table>
    </div>

    <!-- spacer -->
    <div class="row" style="padding: 50px;">
      <p>         </p>
      <p style="font-size: larger;">Interns can enter their information below.</p>
    </div>

    <div class="row" style="padding: 30px; padding-right: 50px; margin-left: 55px;">
      <form class="col s12" method="POST" action="/users/interns">
        <div class="row" >
          
          <div class="input-field col s5">
            <input placeholder="Robert Jones" name="name" type="text" class="validate">
            <label for="name">Name</label>
          </div>

          <div class="input-field col s2">
            <input placeholder="816000111" name="school_id" type="text" class="validate">
            <label for="School ID">School ID</label>
          </div>

          <div class="input-field col s4">
            <input placeholder="DCIT" name="dept" type="text" class="validate">
            <label for="Department">Department</label>
          </div>
        </div>

        <div class="row" >
          <div class="input-field col s4">
            <input placeholder="COMP 1602" name="course" type="text" class="validate">
            <label for="Courses">Courses</label>
          </div>

          <div class="input-field col s1">
            <input placeholder="3" name="year" type="text" class="validate">
            <label for="Year">Year</label>
          </div>

          <div class="input-field col s1">
            <input placeholder="3.7" name="GPA" type="text" class="validate">
            <label for="GPA">GPA</label>
          </div>
          <div class="col s1">
            <div class="input-field col s12">
              <button class="btn waves-effect waves-light right purple" type="submit" name="action">Submit</button>
            </div>
          </div> 
        </div>
      </form>
      
      <div class="row">  
      <table style="width: 97%;">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Department</th>
            <th>Course</th>
        </tr>
        {% for intern in interns %}
            <tr>
                <td>{{ intern.school_id }}</td>
                <td>{{ intern.name }}</td>
                <td>{{ intern.dept }}</td>
                <td>{{ intern.course }}</td>
            </tr>
        {% endfor %}
      </table>
    </div>
        

    

{% endblock %}
