{% extends "layout.html" %}
{% block title %}App Users{% endblock %}
{% block page %}App Users{% endblock %}

{{ super() }}

{% block content %}
    <div class="row">
        <p>
            This is table is renderd on the Server. Flask gets the data from the database and uses jinja templates to dyanmically render this page when a request is sent to <a href="/users">/users</a>.
        </p>
    </div>

    <div class="row">
      <form class="col s12" method="POST" action="/users">
        
        <div class="row" >
          <div class="input-field col s4">
            <input placeholder="Username" name="username" type="text" class="validate">
            <label for="username">Username</label>
          </div>

          <div class="input-field col s4">
            <input placeholder="Password" name="password" type="password" class="validate">
            <label for="password">Password</label>
          </div>

          <div class="input-field col s4">
            <input placeholder="Name" name="name" type="text" class="validate">
            <label for="name">Name</label>
          </div>

        </div>
      </div>
      
        <div class="row">
          <div class="input-field col s12">
            <button class="btn waves-effect waves-light right purple" type="submit" name="action">Submit</button>
          </div>
        </div> 

      </form>
    </div>

    <div class="row" style="margin-left: 100px; margin-right: 100px;">
      <table>
        <thead>
          <tr>
            <th>Id</th><th>Username</th><th>Name</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.username}}</td>
                <td>{{user.name}}</td>
            </tr>
          {% endfor %}
        <tbody>
      </table>
    </div>

    <div class="row">  
      <table>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Name</th>
            <th>Course</th>
        </tr>
        {% for intern in interns %}
            <tr>
                <td>{{ intern.id }}</td>
                <td>{{ intern.username }}</td>
                <td>{{ intern.name }}</td>
                <td>{{ intern.course }}</td>
            </tr>
        {% endfor %}
      </table>
    </div>

{% endblock %}
