{% extends "layout.html" %}
{% block title %}App Users{% endblock %}


{% block page %}
<nav class="purple">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo center">user</a>
    <div class="nav-wrapper">
        <ul id="nav-mobile" class="left">
            <li><a href="/">User</a></li>
            <li><a href="/users">Users Jinja</a></li>
            <li><a href="/static/users">Users JS</a></li>
            <li style="margin-left: 800px;">
              <form class="col s12" method="POST" action="/users/logout"> 
              <button class="purple" style="border: 0; color: white;"  type="submit" name="logout">Logout</button>
              </form>
            </li>
        </ul>
    </div>
  </div>
</nav>
{% endblock %}

{{ super() }}

{% block content %}
    <div class="row">
        <p>
            This is table is renderd on the Server. Flask gets the data from the database and uses jinja templates to dyanmically render this page when a request is sent to <a href="/users">/users</a>.
        </p>
    </div>

    <div class="row">
      <form class="col s12" method="POST" action="/users">
        
        <div class="row" >
          <div class="input-field col s4">
            <input placeholder="Username" name="username" type="text" class="validate">
            <label for="username">Username</label>
          </div>

          <div class="input-field col s4">
            <input placeholder="Password" name="password" type="password" class="validate">
            <label for="password">Password</label>
          </div>

          <div class="input-field col s4">
            <input placeholder="Name" name="name" type="text" class="validate">
            <label for="name">Name</label>
          </div>

        </div>
      </div>
      
        <div class="row">
          <div class="input-field col s12">
            <button class="btn waves-effect waves-light right purple" type="submit" name="action">Submit</button>
          </div>
        </div> 

      </form>
    </div>

    <div class="row" style="margin-left: 100px; margin-right: 100px;">
      <table>
        <thead>
          <tr>
            <th>Id</th><th>Username</th><th>Name</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.username}}</td>
                <td>{{user.name}}</td>
            </tr>
          {% endfor %}
        <tbody>
      </table>
    </div>

  

{% endblock %}
